<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <br />
  <div><%= f.label :first_name %>
  <%= f.text_field :firstname %></div>
  <br />
  <div><%= f.label :last_name %>
  <%= f.text_field :lastname %></div>
  <br />
  <div><%= f.label :email %>
  <%= f.email_field :email %></div>
  <br />
  <div><%= f.label :password %> 
  <%= f.password_field :password, :autocomplete => "off" %><i>(leave blank if you don't want to change it)</i></div>
  <br />
  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>
  <br />
  <blockquote><h4>Your location</h4></blockquote>
  <ul class="unstyled">
  <li><%= request.ip %></li>
  <li><%= request.location.city %></li>
  <li><%= request.location.state %></li>
  <li><%= request.location.country %></li>
  </ul>
  <h5>Incorrect location? Change below</h5>
 
  <div><%= f.text_field :city %> <i>City</i></div>
  <div><%= f.text_field :state %> <i>State (if any?)</i></div>
  <div><%= f.text_field :country %> <i>Country</i></div>
  <br />
 
    <%= f.label :user_type %><br />
    <%= hidden_field_tag "user[role_ids][]", nil %>
    <dl class="dl-horizontal">
    <% for role in Role.all %>
      <dt><%= check_box_tag "user[role_ids][]", role.id, @user.role_ids.include?(role.id), id: dom_id(role) %></dt> 
     <dl> <%= label_tag dom_id(role), role.name %></dl>
    <% end %>
  </dl><br />
    
  <div><%= f.label :current_password %> 
  <%= f.password_field :current_password %><i>(we need your current password to confirm your changes)</i></div>
  <br />

  <div><%= f.submit "Update", :class => 'btn btn-primary' %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

<%= link_to "Back", :back %>
