</br>
<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    Users I'm following
  </a>
  </br>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    Users following me
  </a>
  </br>
    </br>
  <a href="<%= home_path(@event) %>">
  	<h2>
    <strong id="events" class="stat">
      <%=pluralize(@user.events.where(:start_at => Date.today).count, "Event") %> today
    </strong>
    
    </h2>
  </a>
  </br>
  <a href="<%= jobs_path(@job) %>">
    <strong id="jobs" class="stat">
      <%= pluralize(@user.jobs.count, "Active job")%>
    </strong>
  </a>
</div>