<div id="articles">
  <h2 id="month">
     <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  </br>
  <div class 'btn btn-success' > <%= link_to "Back to today", date: Date.today %> </div>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @events_by_date[date] %>
      <ul>
        <% @events_by_date[date].each do |event| %>
          <li><%= link_to event.name, event %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>