<%- model_class = Event.new.class -%>
<div class="page-header">
	<h3 id="month">	
    <%= link_to "<", date: @date.yesterday %>
    <%= @date.strftime("%A %d %B %Y") %>
    <%= link_to ">", date: @date.tomorrow %>
  </h3>
  </br>
  <div class 'btn btn-success' > <%= link_to "Back to today", date: Date.today %> </div>
</div>
<table class="table table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:start_time) %></th>
    </tr>
  </thead>
  <tbody>
    <% @daily_events.each do |event| %>
      <tr>
        <td><%= link_to event.name, event_path(event) %></td>
        <td><%= link_to event.start_time.strftime("%H:%M"), event_path(event) %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
