<h1><%= title %></h1>
<p>
  Please choose an activity
</p>

<%= link_to "Users", users_path, :class => "Menu_button round" %>
<%= link_to "Roles", roles_path, :class => "Menu_button round" %>
<%= link_to "Assignments", assignments_path, :class => "Menu_button round" %>
<%= link_to "Lifecycles", lifecycles_path, :class => "Menu_button round" %>