<% if signed_in? %>
<div class="row">
  <div class="span9">
      <h3> <big>My Diary</big> <ul><%= Date.today.strftime("%A %d %B %Y") %> </ul> 
      	<ul><%= Time.now.strftime("%I:%M %p")%></ul>
      	</h3>
     	 <ul class="nav nav-tabs">
  <li class="active"><a href="#diary" data-toggle="tab">Diary</a></li>
  <li><a href="#calendar" data-toggle="tab">Calendar</a></li>
</ul>
   <div class="tab-content">
    <div class="tab-pane active" id="diary">
  	<%= render :partial => 'day' %>
  	</br>
    <%= link_to "New Event", new_event_path, :class => 'btn btn-info' %>     	
   	<%= link_to "New Job", new_job_path, :class => 'btn btn-success' %>
      	
  	</div>
  
  <div class="tab-pane" id="calendar">
  	<%= render :partial => 'calendar' %>
  	
  	</br>
  	<%= link_to t('.home', :default => t("helpers.links.home")),
            home_path,
            :class => 'btn btn-inverse' %>
    <%= link_to "New Event", new_event_path, :class => 'btn btn-info' %>     	
   	<%= link_to "New Job", new_job_path, :class => 'btn btn-success' %>
      	
  	</div>
  </div>	
 </div>



<div class="span3">
              <div class="well sidebar-nav">
                <ul class="nav nav-list">
                  <li class="nav-header"></li>
              <h2><%= current_user.full_name %></h2>  	 
              <li><%= render :partial => 'shared/stats'  %></li>
 </div>
</div>              
</div>

    
<% else %>
  <%= render root_path %>

<% end %>
