<% if signed_in? %>
      <h3> <big>My Diary</big> <ul><%= Date.today.strftime("%A %d %B %Y") %> </ul> 
      	</h3>
     	 <ul class="nav nav-tabs">
  <li class="active"><a href="#day" data-toggle="tab">Day</a></li>
  <li><a href="#month" data-toggle="tab">Month</a></li>
  <li><a href="#events" data-toggle="tab">Events</a></li>
  <li><a href="#jobs" data-toggle="tab">Jobs</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="day">
  	<%= render :partial => 'day' %>
  	</div>
  
  <div class="tab-pane" id="month">
  	<%= render :partial => 'month' %>
  	</div>
  
  <div class="tab-pane" id="events">
  	<%= render :partial => 'events' %>
  	</div>
  	
  <div class="tab-pane" id="jobs">
  <%= render :partial => 'jobs' %>
  </div>

</div>


      	<%= link_to "New Job", new_job_path, :class => 'btn btn-success' %>
      	<%= link_to "New Event", new_event_path, :class => 'btn btn-info' %>
      	
    
<% else %>
  <%= render root_path %>

<% end %>
