<% if signed_in? %>
      <h3> <big>My Diary</big> <ul><%= Date.today.strftime("%A %d %B %Y") %> </ul> 
      	</h3>
     	 <ul class="nav nav-pills">
  <li class="active"><a href="#day" data-toggle="tab">Day</a></li>
  <li><a href="#month" data-toggle="tab">Month</a></li>
  <li><a href="#list" data-toggle="tab">List</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="day">
  	<%= render :partial => 'day' %>
  	</div>
  
  <div class="tab-pane" id="month">
  	<%= render :partial => 'month' %>
  	</div>
  
  <div class="tab-pane" id="list">
  	<%= render :partial => 'list' %>
  	</div>

</div>


      	<%= link_to "New Job", new_job_path, :class => 'btn btn-success' %>
      	
      	
    
<% else %>
  <%= render new_user_session_path %>

<% end %>
